.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.streamlit/*
!.streamlit/config.toml
streamlit.out.log
streamlit.err.log
app_runtime.log
Agentic_AI_Project_shareable.zip
k8s_portforward.out.log
k8s_portforward.err.log
